@model WebApplication1.Models.ViewModels.ContractCreateInitViewModel
@{
    ViewBag.Title = "_MultiFormPartial";
}
<div id="multiForm" class="innerWrapper rightInnerWrapper">
    <div>
       

    </div>
    <div class="bottomWrapper">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="CreateContract" type="submit" value="Weiter" class="textBtn" name="submit" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SaveContract" type="submit" value="Speichern und zurück zur Übersicht" class="textBtn" name="submit" />
            </div>
        </div>
    </div>
</div>

