
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="CreateContract" type="submit" value="Weiter" class="textBtn" name="submit" />
        </div>
    </div>
}
