@model IEnumerable<WebApplication1.Models.ContractFile>
@{
    ViewBag.Title = "DetailsFile";
    Layout = "~/Views/Shared/_WrapperLayout.cshtml";
}

@Html.Partial("_MultiCreatePartial")

<h2>CreateFiles</h2>

